.top-header{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    .header-left{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        .logo{
            min-width:180px;
            line-height:64px;
            text-align:center;
        }
        .ant-menu{
            background-color:transparent;
            color:#fff;
            border:0;
        }
    }

}

